<!DOCTYPE html>
<%=
  def nc(name)
    build = GITSHA rescue "dev"
    %Q{#{name}?#{build}}
  end

  nil
%>

<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Zupfnoter</title>
  <link rel="shortcut icon" href="public/icons/favicon.png"/>

  <script src="<%=nc("vendor/jquery-3.0.0.min.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/jquery-migrate-1.4.1.min.js")%>" type="application/javascript"></script>

  <script src="<%=nc("vendor/ajv.min.js")%>" type="application/javascript" charset="utf-8"></script>
  <script src="<%=nc("vendor/ace/ace.js")%>" type="application/javascript" charset="utf-8"></script>
  <script src="<%=nc("vendor/ace/ext-language_tools.js")%>" type="application/javascript" charset="utf-8"></script>

  <script src="<%=nc("vendor/svg.min.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/svg.draggable.min.js")%>" type="application/javascript"></script>

  <script src="<%=nc("vendor/musical.min.js")%>" type="application/javascript"></script>

  <script src="<%=nc("vendor/jqconsole.min.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/json_parse.js")%>" type="application/javascript"></script><!-- to get better error messages -->

  <!-- <script src="<%=nc("vendor/opal.min.js")%>" type="application/javascript"></script>-->
  <script src="<%=nc("vendor/jspdf.min.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/filesaver.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/jszip.min.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/Dropbox-sdk.min.js")%>" type="application/javascript"></script>

  <script src="<%=nc("vendor/abc2svg-1.js")%>" type="application/javascript"></script>
  <script src="<%=nc("vendor/xml2abc-bw.js")%>" type="application/javascript"></script>


  <link rel="stylesheet" type="text/css" href="<%=nc("vendor/w2ui/dist/w2ui.min.css")%>"/>
  <link rel="stylesheet" type="text/css" href="<%=nc("vendor/font-awesome/css/font-awesome.min.css")%>"/>
  <link rel="stylesheet" type="text/css" href="<%=nc("public/index.css")%>"/>

  <script type="text/javascript" src="<%=nc("vendor/w2ui/dist/w2ui.min.js")%>"></script>

  <style>
    .spinner {
      background-color: #81cf81;
    }

  </style>

  <%= javascript_include_tag 'application' %>
</head>

<body style="height: 100%;" onbeforeunload="return 'hugo';">
<div id="layout" style="height: calc(100% - 25px);">
</div>
<div id="statusbar-layout" style="height:25px">
</div>

<%= begin
      result = javascript_include_analytics()
    rescue
      result = "<!-- running in rackup server, no analytics -->"
    end
    result
%>


</body>
</html>
